﻿@{
    Layout = "~/Views/_Layout.cshtml";
}


<input type="text" id="location-search" placeholder="Sök närmaste resa från Örebro C till valfri plats" />

<div id="travel-information-container">
    <p id="travel-information" hidden>
        Nästa resa från Örebro C till <span id="destination-name"> </span> avgår <span id="departure-date"></span> klockan <span id="departure-time"></span>. <br /><br />
        Temperaturen vid ankomst beräknas till <span id="temperature"></span> grader celsius. <span id="cloudiness"></span>. Vindstyrka <span id="windspeed"></span> m/s.
    </p>
    <p id="no-travels" hidden>
        Inga resor hittades
    </p>
</div>


<script src="~/Assets/javascript/startpage.js"></script>
