﻿<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/javascript/main.js"></script>
    <link href="@Url.Content("~/Assets/style/startpage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/style/ajaxload.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_AjaxLoad")
</body>

</html>
