﻿body {
}

input:focus {
    outline: none;
}

#location-search {
    display: block;
    margin: 100px auto;
    width: 680px;
    border: 0;
    border-bottom: 4px solid #0099CC;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #3d3d3d;
    font-weight: bold;
}

#travel-information-container {
    width: 100%;
}

    #travel-information-container p {
        margin: 0 auto;
        width: 680px;
        text-align: center;
        color: #3d3d3d;
        font: 400 20px Arial;
    }

#travel-information-container #no-travels {
    font-weight: bold;
    font-size: 25px;
}

#destination-name {
    font-weight: bold;
}
